html {
    box-sizing: border-box;
    font-size: 16px;
    }

    *, *:before, *:after {
    box-sizing: inherit;
    }

    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    }

    ol, ul {
    list-style: none;
    }

    img {
    max-width: 100%;
    height: auto;
    }

    *{
        font-family: sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    h5 {
        text-decoration: line-through;
        font-size: small;
    }
    
    .headerSection {
        background-color: #ffdb15;
        height: 14vh;
    }
    
    .headerPart {
        height: 7vh;
        text-align: center;
    }
    
    #searchBar {
        height: 2.5vh;
        margin-top: 2vh;
    }
    
    .navBar {
        line-height: 6vh;
    }
    
    .navOptions {
        vertical-align: middle;
        line-height: normal;
        margin-left: 2vw;
    }
    
    .content {
        background-color: #ebebeb;
        height: 86vh;
        text-align: center;
    }
    
    .benefits {
        background-color: white;
        height: 15vh;
        border-radius: 1vw;
    }
    
    .contents {
        width: 80vw;
        margin-top: 5vh;
        display: inline-block;
    }
    
    .offer, .firstOffer {
        height: 15vh;
        width: 20vw;
        float: left;
        text-align: left;
    }
    
    .firstOffer {
        border-right: solid rgb(146, 144, 144) 0.3vh;
    }
    
    .offerTitle {
        margin-top: 3.5vh;
    }
    
    .offerTitle, .subTitle {
        margin-left: 1vw;
        text-align:left
    }
    
    .product {
        background-color: white;
        height: 180px;
        width: 15vw;
        float:left;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        overflow: hidden;
    }
    
    .product:hover {
        transition-duration: 0.5s;
        transition-timing-function: linear;
        height:240px
    }
    
    .subtitle {
        text-align: left;
    }
    
    /* cadastro page */
    .register {
        background-color: white;
        height: 48vh;
        width: 15vw;
        display: inline-block;
        margin-top: 5vh;
        border-radius: 2.5vh;
    }
    
    .info {
        text-align: left;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 2vw;
    }
    